@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {}

// ≥992px
@include media-breakpoint-down(md) {}

// ≥768px
@include media-breakpoint-down(sm) {
    .ps-pills{
        .nav-item{
            min-width: 20vw;
            min-height: 20vw;
            max-width: 50vw;
            margin: 0;
            a{
                font-size: .7rem;
            }
        }
    }
    #messages {
        td{
            width: 115px;
            padding: 0;
        }
    }
    footer, #promo, #page-content-wrapper {
        overflow: hidden;
    }
    #statistic{
        .nav-item{
            flex: inherit;
            width: 50%;
            a{
                text-align: center;
            }
        }
    }
    .nav-link--blue {
        background-color: #BDBDBD;
    }

    .title-underlined {
        &--right span:after {
            left: 50%;
            transform: translateX(-50%);
        }

        &--left span:after {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    #page-content-wrapper nav {
        padding-bottom: 75px;
    }

    #welcome-row {
        width: 100%;
        top: 75px;
        left: 0;

        a {
            color: $secondary;
        }
    }

    #menu-toggle {
        z-index: +5;
    }

    #navbarSupportedContent {
        width: 80px;

        .nav-link {
            padding: 3px 4px;
        }

        .fa {
            font-size: .9em;
        }
    }

    #sidebar-wrapper {
        margin-top: 0;
        margin-left: -100vw;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: +3;

        .list-group {
            width: 95vw;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            height: 120vh;
            margin: 0 auto;
            padding-bottom: 50%;

            &-item {
                .fa {
                    font-size: 1.8em;
                    margin-bottom: .1em;
                }

                width: 25vw;
                height: 22vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: inherit;
                margin-bottom: 5%;

                &:hover {
                    &:hover:after {
                        display: none;
                    }

                    &:hover:before {
                        display: none;
                    }
                }
            }
        }
    }
}

// ≥576px
@include media-breakpoint-down(xs) {}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {}

// ≤768px
@include media-breakpoint-up(md) {
    #sidebar-wrapper {
        margin-left: 0;
        .fa{
            width: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

// ≤992px
@include media-breakpoint-up(lg) {}

// ≤1200px
@include media-breakpoint-up(xl) {}