@import url("global.css");
body {
    font-family: Roboto, sans-serif;
    font-size: 2.1vmin;
}

#header-panel .dropdown-menu {
    min-width: 2.5rem;
    left: 10px;
}

#header-panel .dropdown-menu a {
    max-width: 100%;
    padding: 10%;
}

.home h2 {
    font-size: 5vmin;
}

a.btn {
    font-size: 2.1vmin!important;
}

.container {
    max-width: 70vw;
}


/*[footer]*/

#footer-panel {
    height: 30vh;
    margin-top: -18vh;
    position: relative;
    z-index: +200;
}


/*[/footer]*/

#page {
    position: relative;
}

#main-frame {
    min-height: 120vh;
    width: 100%;
}

#left>*,
#right>* {
    z-index: +10;
}

#left,
#right {
    padding-top: 20vh;
    overflow: hidden;
    position: relative;
}

.h-100.w-100.position-absolute {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#left .bg,
#right .bg,
#left:before,
#right:before,
#left:after,
#right:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform ease 1s;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

#left .bg {
    background-image: url(../img/home-left--side.jpg);
    z-index: -5;
}

#right .bg {
    background-image: url(../img/home-right--side.jpg);
    z-index: -5;
}

#left:before,
#right:before,
#left:after,
#right:after {
    transition: opacity ease 1s;
}

#left:before {
    background: linear-gradient(180deg, rgba(110, 80, 1, 0.78) 0%, rgba(0, 0, 0, 0.78) 47.51%, rgba(49, 38, 0, 0.39) 100%);
    opacity: 1;
}

#right:before {
    background: linear-gradient(180deg, rgba(0, 62, 136, 0.72) 0%, rgba(0, 12, 27, 0.61) 48.07%, rgba(0, 0, 0, 0.2) 100%);
    opacity: 1;
}

#left:after {
    background: linear-gradient(180deg, rgba(249, 249, 249, 0.97) -9.77%, rgba(255, 255, 255, 0.93) 49.48%, rgba(255, 255, 255, 0.49) 106.81%);
    opacity: 0;
    z-index: 1;
}

#right:after {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.94) 2.55%, rgba(255, 255, 255, 0.93) 29.1%, rgba(204, 237, 255, 0.51) 116.99%);
    opacity: 0;
    z-index: 1;
}

#left:hover:before,
#right:hover:before,
#left:hover .text-light {
    opacity: 0;
}

#left:hover:after,
#right:hover:after {
    opacity: .9;
}

#left:hover .bg,
#right:hover .bg {
    transition: transform ease 1s;
    transform: scale(1.2);
}

#left:hover .hover-layer,
#right:hover .hover-layer {
    transform: translateY(0);
    opacity: 1;
}

#left h2,
#right h2 {
    transition: all 1s ease;
}

#left:hover h2,
#right:hover h2 {
    color: black!important;
    transform: translateY(-35vh);
}

.hover-layer {
    top: 30vh!important;
    transition: transform 1s ease, opacity 1s ease;
    transform: translateY(200px);
    opacity: 0;
}

.hex-icon {
    width: 25vmin;
    position: relative;
    transform: rotateX(0deg) translateY(-10vh);
    transform-style: preserve-3d;
    transition: all 1s linear;
    transform-origin: center 50%;
}

#left .hex-icon img {
    padding: 30%;
}

#right .hex-icon img {
    padding: 25%;
    padding-top: 32%;
}

#right:hover .hex-icon,
#left:hover .hex-icon {
    animation-name: hex-hover;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#right:hover .hex-icon:before,
#left:hover .hex-icon:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

#right:hover .hex-icon:before {
    background-color: #2D9CDB;
}

#left:hover .hex-icon:before {
    background-color: #F2C94C;
}

@keyframes hex-hover {
    0% {
        transform: rotateX(0deg) scale(1);
        opacity: 1;
    }
    45% {
        transform: rotateX(360deg) scale(.1);
        opacity: 0;
    }
    50% {
        transform: translateY(-40vh);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg) translateY(-40vh);
    }
}

.hex-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#social-hovered .col-3 {
    margin: 0 -5px;
}

#social-hovered .col-3:nth-child(2) img {
    transform: translateY(15px);
}

#center-hex {
    width: 90px;
    left: 50%;
    top: 40vh;
    transform: translateX(-50%);
    z-index: +300;
    display: none;
}

.content-row {
    width: 32vw;
}

.hover-layer .content-row,
.hover-layer .content-row {
    min-height: 300px;
}

#right .content-row {
    margin-left: 10vw;
}

@media screen and (min-width: 1619.98px) {
    body {
        font-size: 2vmin!important;
    }
    .home h2 {
        font-size: 4.1vmin!important;
    }
    .hex-icon {
        width: 20vmin!important;
    }
}